

    <nav id="nav-bar">
        <div class="site-title">

            <a href="/">
                <h1>MOREFUNS HOMEPAGE</h1>
            </a>
            <p>Welcome the most funs ever omg</p>
        </div>
            <a href="/addnewpost">ADD NEW POST</a>
    </nav>