

    <nav id="nav-bar">
        <div class="site-title">

            <a href="/">
                <h1>MOREFUNS HOMEPAGE</h1>
            </a>
            <p>Welcome the most funs ever omg</p>
        </div>
        <ul>
            <li><a href="/singlepost">Single post</a></li>
            <li><a href="/addnewpost">Add new Post</a></li>
        </ul>
    </nav>