<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>


    <br>
    <div class="create-post">
    <form action="/posts" method="POST">
    <label for="usr">User:</label>
    <input type="text" id="usr" name="usr" required><br><br>
    <label for="post_title">Post title:</label>
    <input type="text" id="post_title" name="post_title" required><br><br>
    <label for="post_pic_src"> URL link:</label>
    <input type="text" id="post_pic_src" name="post_pic_src"></textarea><br><br>
    <button>Submit</button>
    </form>
    </div>
    <%- include('./partials/footer.ejs') %>
   

</body>
</html>