<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>


<div class="singlepost content">
    <h2>Single post content H2</h2>
</div>
<%- include('./partials/footer.ejs') %>

</body>
</html>